# Data Loading

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
pd.set_option('display.float_format','{:.2f}'.format)

# Time Level 3 months (12-9)

## Time Level

In [3]:
ctp = '24_jun_12'
ct = '24_jun_9'
tp1 = '25_jun_9'
tp2 = '25_jun_12'

## 3 months

In [4]:
stypes = ['esales', 'nonesales']
atypes = ['act']
ks = [1]

In [5]:
usag_df_tp1 = pd.read_parquet(f'Outputs/usag_{ct}_{tp1}_bucket_isocos_pneinc_updated.parquet')
usag_df_tp2 = pd.read_parquet(f'Outputs/usag_{ctp}_{tp2}_bucket_isocos_pneinc_updated.parquet')

In [6]:
usag_df_tp2

,global_id,2023-07_nonesales,2023-08_nonesales,2023-09_nonesales,2023-10_nonesales,2023-11_nonesales,2023-12_nonesales,2024-01_nonesales,2024-02_nonesales,2024-03_nonesales,...,std_dev_25_jun_12_esales,flag_gl_id,24_jun_12_25_jun_12_act_mon_esales_sd_1_segment,24_jun_12_25_jun_12_act_mon_nonesales_sd_1_segment,24_jun_12_25_jun_12_esales_yoy,24_jun_12_25_jun_12_nonesales_yoy,24_jun_12_bucket,comp_bucket_YoY,24_jun_12_25_jun_12_nonesales_incremental_pct,24_jun_12_25_jun_12_nonesales_incremental_abs
0,000006c3-c93c-b2d1-75a9-d55eff943df8,139.24,76.22,0.00,0.00,25.85,59.40,0.00,43.83,14.25,...,0.00,0.00,Not in Channel,Growing,0.00,2.42,500-1000,0.13,2.29,1573.65
1,000008fd-b89a-e34f-4cc1-8082184f9627,63.72,126.16,97.98,14.09,411.39,140.32,48.02,150.56,68.61,...,0.00,0.00,Not in Channel,Stable,0.00,0.08,1000-2500,-0.00,0.09,104.19
2,00000d0f-4cff-2258-96e3-37fb60e6dd3f,181.28,87.38,131.72,66.94,89.62,248.63,316.88,531.97,621.99,...,9.13,0.00,New,Stable,1.00,-0.21,2500-5000,-0.07,-0.14,-530.77
3,00001b6a-9f19-d466-5b17-498b2134e54b,3294.76,1587.71,1871.09,140.99,-130.99,0.00,166.20,-124.99,0.00,...,0.00,0.00,Declining,Stable,-1.00,-0.97,5000-10000,-0.09,-0.88,-5834.42
4,00003208-43d2-548e-6834-1d26ca82306f,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,Not in Channel,Not in Channel,0.00,0.00,0,414398276327985446912.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1698982,ffffe0b8-4419-19cc-ebca-e9f175b9a7b3,0.00,0.00,0.00,85.47,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,Not in Channel,Declining,0.00,-1.00,0-500,0.70,-1.70,-144.88
1698983,ffffebc6-2076-9b23-51c2-5f5293338412,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,Not in Channel,New,0.00,1.00,0,414398276327985446912.00,1.00,0.00
1698984,fffff3c4-c07a-8d6a-8d98-a74f28d06baf,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,Not in Channel,New,0.00,1.00,0,414398276327985446912.00,1.00,0.00
1698985,fffffc8f-cb07-b227-ef84-b2b43815c1ff,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,Not in Channel,New,0.00,1.00,0,414398276327985446912.00,1.00,0.00
1698986,fffffd91-46e2-20ea-7190-1f2775e09e28,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,Not in Channel,Not in Channel,0.00,0.00,0,414398276327985446912.00,0.00,0.00

In [7]:
usag_df_1 = usag_df_tp1[['global_id', f'{ct}_Total_esales',f'{ct}_Total_nonesales',f'{tp1}_Total_esales', f'{tp1}_Total_nonesales',f'{ct}_{tp1}_nonesales_incremental_abs']]

In [8]:
usag_df_2 = usag_df_tp2[['global_id','flag_gl_id',f'{tp2}_Total_esales',f'{ctp}_Total_esales',f'{ctp}_Total_nonesales',f'{tp2}_Total_nonesales',f'{ctp}_{tp2}_nonesales_incremental_abs',
                                  f'{ctp}_{tp2}_act_mon_esales_sd_1_segment',f'{ctp}_{tp2}_act_mon_nonesales_sd_1_segment',f'{ctp}_bucket']]

In [9]:
usag_df = usag_df_1.merge(usag_df_2, how='inner',on='global_id')[['global_id','flag_gl_id',f'{ct}_Total_esales',f'{ct}_Total_nonesales',f'{ctp}_Total_esales',f'{ctp}_Total_nonesales',f'{tp1}_Total_esales', f'{tp1}_Total_nonesales',f'{ct}_{tp1}_nonesales_incremental_abs',
                                                                        f'{tp2}_Total_esales',f'{tp2}_Total_nonesales',f'{ctp}_{tp2}_nonesales_incremental_abs', f'{ctp}_{tp2}_act_mon_esales_sd_1_segment',f'{ctp}_{tp2}_act_mon_nonesales_sd_1_segment',f'{ctp}_bucket']]

In [10]:
# usag_df = pd.read_csv(f'usag_diff_{tp1}_{tp2}_bucket_peinc_updated.csv')

In [11]:
usag_df[f'{ctp}_Total_nonesales'].sum()

np.float64(6325078524.37)

In [12]:
usag_df['diff_Total_esales_curr'] = usag_df[f'{tp2}_Total_esales'] - usag_df[f'{tp1}_Total_esales']
usag_df['diff_Total_nonesales_curr'] = usag_df[f'{tp2}_Total_nonesales'] - usag_df[f'{tp1}_Total_nonesales']

usag_df['diff_Total_esales_prev'] = usag_df[f'{ctp}_Total_esales'] - usag_df[f'{ct}_Total_esales']
usag_df['diff_Total_nonesales_prev'] = usag_df[f'{ctp}_Total_nonesales'] - usag_df[f'{ct}_Total_nonesales']

In [13]:
usag_df['diff_nonesales_incremental_abs_updated'] = usag_df[f'{ctp}_{tp2}_nonesales_incremental_abs'] - usag_df[f'{ct}_{tp1}_nonesales_incremental_abs']

In [14]:
usag_df['diff_nonesales_incremental_abs_updated'].sum()

np.float64(-2516368.0400053603)

In [15]:
usag_df[f'{tp1}_{tp2}_act_mon_esales_sd_1_segment'] = usag_df[f'{ctp}_{tp2}_act_mon_esales_sd_1_segment']
usag_df[f'{tp1}_{tp2}_act_mon_nonesales_sd_1_segment'] = usag_df[f'{ctp}_{tp2}_act_mon_nonesales_sd_1_segment']

In [16]:
core_segments = ['Stable','Growing','Declining']

In [17]:
# with pd.ExcelWriter('Segments 25_q1.xlsx') as writer:
#     for seg1 in core_segments:
#         for seg2 in core_segments:
#             usag_df[(usag_df['24_jun_12_25_jun_12_act_mon_esales_sd_1_segment']==seg1) & (usag_df['24_jun_12_25_jun_12_act_mon_nonesales_sd_1_segment']==seg2)].to_excel(writer,sheet_name=f'{seg1}-{seg2}')

In [18]:
segments = ['Unallocated', 'New', 'Growing', 'Stable', 'Declining', 'Not in Channel']
segments

['Unallocated', 'New', 'Growing', 'Stable', 'Declining', 'Not in Channel']

In [19]:
def crosstab_func(usag_df,atype,k,tp1,tp2):
    metric_rows = ['# of Customers', 'noneSales_Inc', f'eSales prev', f'eSales curr']
    metric_cols = ['.','..', f'non-eSales prev', f'non-eSales curr']


    row_index = pd.MultiIndex.from_product([segments, metric_rows])
    col_index = pd.MultiIndex.from_product([segments, metric_cols])


    cross_tab = pd.DataFrame(index=row_index, columns=col_index)


    total_nonesales_prev = usag_df[f'diff_Total_nonesales_prev'].sum()
    total_nonesales_curr = usag_df[f'diff_Total_nonesales_curr'].sum()
    total_esales_prev = usag_df[f'diff_Total_esales_prev'].sum()
    total_esales_curr = usag_df[f'diff_Total_esales_curr'].sum()

    for e_seg in segments:
        for n_seg in segments:
            subset = usag_df[
                (usag_df[f'{tp1}_{tp2}_{atype}_mon_esales_sd_{str(k)}_segment'] == e_seg) &
                (usag_df[f'{tp1}_{tp2}_{atype}_mon_nonesales_sd_{str(k)}_segment'] == n_seg)
            ]

            num_customers = subset.shape[0]
            esales_prev = subset[f'diff_Total_esales_prev'].sum()
            esales_curr = subset[f'diff_Total_esales_curr'].sum()
            nonesales_prev = subset[f'diff_Total_nonesales_prev'].sum()
            nonesales_curr = subset[f'diff_Total_nonesales_curr'].sum()

            nonesales_inc = subset[f'diff_nonesales_incremental_abs_updated'].sum()

            cross_tab.loc[(e_seg, '# of Customers'), (n_seg, '.')] = num_customers
            cross_tab.loc[(e_seg, '# of Customers'), (n_seg, f'non-eSales prev')] = f"{nonesales_prev:.0f}"
            cross_tab.loc[(e_seg, '# of Customers'), (n_seg, f'non-eSales curr')] = f"{nonesales_curr:.0f}"
            cross_tab.loc[(e_seg, 'noneSales_Inc'), (n_seg, f'non-eSales prev')] = f"{(nonesales_prev/total_nonesales_prev):.2%}"
            cross_tab.loc[(e_seg, 'noneSales_Inc'), (n_seg, f'non-eSales curr')] = f"{(nonesales_curr/total_nonesales_curr):.2%}"

            cross_tab.loc[(e_seg, 'noneSales_Inc'), (n_seg, '.')] = f"{nonesales_inc:.0f}"

            cross_tab.loc[(e_seg, f'eSales prev'), (n_seg, '.')] = f"{esales_prev:.0f}"
            cross_tab.loc[(e_seg, f'eSales curr'), (n_seg, '.')] = f"{esales_curr:.0f}"
            cross_tab.loc[(e_seg, f'eSales prev'), (n_seg, '..')] = f"{(esales_prev/total_esales_prev):.2%}"
            cross_tab.loc[(e_seg, f'eSales curr'), (n_seg, '..')] = f"{(esales_curr/total_esales_curr):.2%}"


    return cross_tab

In [20]:
sheet_dict = {}
for atype in atypes:
    for k in ks:
        sheet_name = f"cross_tab_{tp1}_{tp2}_{atype}_mon_sd_{str(k)}"
        sheet_dict[sheet_name] = crosstab_func(usag_df,atype, k,tp1, tp2)
print("done")

done

In [21]:
with pd.ExcelWriter(f"v2_crosstab_output_diff_bucket_isocos_pne_{tp1}_{tp2}.xlsx") as writer:
    for sheet_name, df in sheet_dict.items():
        df.to_excel(writer,sheet_name = sheet_name[:31])

In [22]:
usag_df['diff_nonesales_incremental_abs_updated'].sum()

np.float64(-2516368.0400053603)

In [23]:
usag_df.to_parquet(f'Outputs/usag_diff_{tp1}_{tp2}_bucket_isocos_pneinc_updated.parquet')

In [24]:
usag_df.groupby(f'{ctp}_bucket')['diff_nonesales_incremental_abs_updated'].sum()

24_jun_12_bucket
0                -28273.70
0-500          24887628.26
1000-2500      11299689.45
10000-25000   -11614442.11
2500-5000       8731044.51
25000+        -50163067.08
500-1000       16376129.26
5000-10000       476488.10
<0             -2481564.73
Name: diff_nonesales_incremental_abs_updated, dtype: float64