In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.float_format','{:.2f}'.format)

In [3]:
tp_12_1 = '24_jun_12'
tp_12_2 = '25_jun_12'
tp_9_1 = '24_jun_9'
tp_9_2 = '25_jun_9'

In [4]:
usag_3  = pd.read_parquet(f"Outputs/usag_diff_{tp_9_2}_{tp_12_2}_bucket_isocos_pneinc_updated.parquet")

In [5]:
# usag_3['macs_id'] = usag_3['global_id'].str.extract(r'^([A-Z]{2,3}\d{3})')

In [6]:
usag_3

,global_id,flag_gl_id,24_jun_9_Total_esales,24_jun_9_Total_nonesales,24_jun_12_Total_esales,24_jun_12_Total_nonesales,25_jun_9_Total_esales,25_jun_9_Total_nonesales,24_jun_9_25_jun_9_nonesales_incremental_abs,25_jun_12_Total_esales,...,24_jun_12_25_jun_12_act_mon_esales_sd_1_segment,24_jun_12_25_jun_12_act_mon_nonesales_sd_1_segment,24_jun_12_bucket,diff_Total_esales_curr,diff_Total_nonesales_curr,diff_Total_esales_prev,diff_Total_nonesales_prev,diff_nonesales_incremental_abs_updated,25_jun_9_25_jun_12_act_mon_esales_sd_1_segment,25_jun_9_25_jun_12_act_mon_nonesales_sd_1_segment
0,000006c3-c93c-b2d1-75a9-d55eff943df8,0.00,0.00,358.79,0.00,687.04,0.00,1740.77,1155.79,0.00,...,Not in Channel,Growing,500-1000,0.00,606.15,0.00,328.25,417.85,Not in Channel,Growing
1,000008fd-b89a-e34f-4cc1-8082184f9627,0.00,0.00,1120.85,0.00,1171.71,0.00,1193.36,126.77,0.00,...,Not in Channel,Stable,1000-2500,0.00,77.00,0.00,50.86,-22.58,Not in Channel,Stable
2,00000d0f-4cff-2258-96e3-37fb60e6dd3f,0.00,0.00,2276.41,0.00,3792.03,0.00,2367.23,201.01,226.26,...,New,Stable,2500-5000,226.26,617.67,0.00,1515.62,-731.78,New,Stable
3,00001b6a-9f19-d466-5b17-498b2134e54b,0.00,1215.23,6804.77,1903.89,6654.78,0.00,129.90,-5918.35,0.00,...,Declining,Stable,5000-10000,0.00,79.99,688.66,-149.99,83.93,Declining,Stable
4,00003208-43d2-548e-6834-1d26ca82306f,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,Not in Channel,Not in Channel,0,0.00,0.00,0.00,0.00,0.00,Not in Channel,Not in Channel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1698982,ffffe0b8-4419-19cc-ebca-e9f175b9a7b3,0.00,0.00,85.47,0.00,85.47,0.00,0.00,-139.35,0.00,...,Not in Channel,Declining,0-500,0.00,0.00,0.00,0.00,-5.53,Not in Channel,Declining
1698983,ffffebc6-2076-9b23-51c2-5f5293338412,0.00,0.00,0.00,0.00,0.00,0.00,108.71,0.00,0.00,...,Not in Channel,New,0,0.00,171.46,0.00,0.00,0.00,Not in Channel,New
1698984,fffff3c4-c07a-8d6a-8d98-a74f28d06baf,0.00,0.00,0.00,0.00,0.00,0.00,204.12,0.00,0.00,...,Not in Channel,New,0,0.00,0.00,0.00,0.00,0.00,Not in Channel,New
1698985,fffffc8f-cb07-b227-ef84-b2b43815c1ff,0.00,0.00,0.00,0.00,0.00,0.00,330.65,0.00,0.00,...,Not in Channel,New,0,0.00,0.00,0.00,0.00,0.00,Not in Channel,New
1698986,fffffd91-46e2-20ea-7190-1f2775e09e28,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,Not in Channel,Not in Channel,0,0.00,0.00,0.00,0.00,0.00,Not in Channel,Not in Channel

In [7]:
core_segments = ['Growing','Stable','Declining']

In [8]:
usag_3.columns

Index(['global_id', 'flag_gl_id', '24_jun_9_Total_esales',
       '24_jun_9_Total_nonesales', '24_jun_12_Total_esales',
       '24_jun_12_Total_nonesales', '25_jun_9_Total_esales',
       '25_jun_9_Total_nonesales',
       '24_jun_9_25_jun_9_nonesales_incremental_abs', '25_jun_12_Total_esales',
       '25_jun_12_Total_nonesales',
       '24_jun_12_25_jun_12_nonesales_incremental_abs',
       '24_jun_12_25_jun_12_act_mon_esales_sd_1_segment',
       '24_jun_12_25_jun_12_act_mon_nonesales_sd_1_segment',
       '24_jun_12_bucket', 'diff_Total_esales_curr',
       'diff_Total_nonesales_curr', 'diff_Total_esales_prev',
       'diff_Total_nonesales_prev', 'diff_nonesales_incremental_abs_updated',
       '25_jun_9_25_jun_12_act_mon_esales_sd_1_segment',
       '25_jun_9_25_jun_12_act_mon_nonesales_sd_1_segment'],
      dtype='object')

In [9]:
# usag_3.boxplot(column='diff_Total_esales_prev')

In [10]:
usag_df = usag_3[
    ((usag_3[f'{tp_12_1}_{tp_12_2}_act_mon_esales_sd_1_segment'].isin(core_segments)) &
     (usag_3[f'{tp_12_1}_{tp_12_2}_act_mon_nonesales_sd_1_segment'].isin(core_segments))) & 
     ~((usag_3[f'{tp_12_1}_{tp_12_2}_act_mon_esales_sd_1_segment']=='Stable') & (usag_3[f'{tp_12_1}_{tp_12_2}_act_mon_nonesales_sd_1_segment']=='Stable'))
]

In [11]:
usag_df

,global_id,flag_gl_id,24_jun_9_Total_esales,24_jun_9_Total_nonesales,24_jun_12_Total_esales,24_jun_12_Total_nonesales,25_jun_9_Total_esales,25_jun_9_Total_nonesales,24_jun_9_25_jun_9_nonesales_incremental_abs,25_jun_12_Total_esales,...,24_jun_12_25_jun_12_act_mon_esales_sd_1_segment,24_jun_12_25_jun_12_act_mon_nonesales_sd_1_segment,24_jun_12_bucket,diff_Total_esales_curr,diff_Total_nonesales_curr,diff_Total_esales_prev,diff_Total_nonesales_prev,diff_nonesales_incremental_abs_updated,25_jun_9_25_jun_12_act_mon_esales_sd_1_segment,25_jun_9_25_jun_12_act_mon_nonesales_sd_1_segment
3,00001b6a-9f19-d466-5b17-498b2134e54b,0.00,1215.23,6804.77,1903.89,6654.78,0.00,129.90,-5918.35,0.00,...,Declining,Stable,5000-10000,0.00,79.99,688.66,-149.99,83.93,Declining,Stable
16,0001041f-14e6-47b6-8db8-67d6798f2ecd,0.00,5998.80,28959.28,7219.31,38638.79,2213.09,7864.63,-18302.23,4710.01,...,Stable,Declining,25000+,2496.92,7496.09,1220.51,9679.51,-1632.66,Stable,Declining
18,000116f0-8ab3-480e-bd62-ecd5cf2a674a,0.00,1347.59,3412.17,1883.04,4233.28,3299.43,682.22,-2417.71,6079.72,...,Growing,Stable,2500-5000,2780.29,1552.58,535.45,821.11,727.75,Growing,Stable
30,0001c703-29d7-4dde-827a-8a657075a158,0.00,1413.61,48321.43,7708.16,62226.00,7910.54,32557.28,-11104.73,30251.88,...,Growing,Stable,25000+,22341.34,19370.48,6294.55,13904.57,6190.51,Growing,Stable
42,00029716-dde6-4c44-9c73-d1049559ff71,0.00,145.85,120.04,145.85,277.14,0.00,39.95,-155.77,0.00,...,Declining,Stable,0-500,0.00,0.00,0.00,157.10,-274.08,Declining,Stable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1698825,fff92584-ba4e-0f63-733e-f65a64e3c0a1,0.00,500.00,-500.00,500.00,-500.00,0.00,0.00,-0.00,0.00,...,Declining,Declining,<0,0.00,0.00,0.00,0.00,0.00,Declining,Declining
1698838,fff9bb7c-5a34-ca99-2853-cc0829b5a0d9,0.00,36.38,150.19,219.20,272.96,1848.11,273.24,28.37,2287.72,...,Growing,Stable,0-500,439.61,122.68,182.82,122.77,-95.15,Growing,Stable
1698840,fff9c412-c03d-37d7-cd83-a8a824431f24,0.00,0.00,11522.13,679.75,14297.15,2515.15,16652.00,6683.48,3170.68,...,Stable,Growing,10000-25000,655.53,11079.89,679.75,2775.02,8347.85,Stable,Growing
1698893,fffc02d7-1cc0-476f-a09b-0f9d64ac0588,0.00,33832.59,-555.18,33832.59,-555.18,0.00,81.60,-555.18,0.00,...,Declining,Stable,<0,0.00,0.00,0.00,0.00,0.00,Declining,Stable
1698912,fffcb0cf-fc26-6c35-17a0-8aed0bc08451,0.00,218.19,50188.71,218.19,68017.66,0.00,49581.86,4232.63,0.00,...,Declining,Stable,25000+,0.00,19600.36,0.00,17828.95,2817.07,Declining,Stable

In [12]:
usag_df['diff_nonesales_incremental_abs_updated'].sum()

np.float64(1152549.6460808953)

In [13]:
# usag_df.to_excel('GSD Data.xlsx')

In [14]:
def seg_num(df,tp_12_1,tp_12_2,core_segments):
    e_seg = f'{tp_12_1}_{tp_12_2}_act_mon_esales_sd_1_segment'
    n_seg = f'{tp_12_1}_{tp_12_2}_act_mon_nonesales_sd_1_segment'
    
    cond = [
        (df[e_seg] == seg1) & (df[n_seg] == seg2)
        for seg1 in core_segments for seg2 in core_segments
    ]

    choices = [num for num in range(1,10)]

    return np.select(cond,choices,default=0)

def channel_shift_12(df,tp_12_1,tp_12_2):
    tp1_e_total = f'{tp_12_1}_Total_esales'
    tp1_n_total = f'{tp_12_1}_Total_nonesales'
    seg_nums_not_included = [2,4,5,6,8,9]
    
    cond1 = (df[tp1_e_total] + df[tp1_n_total] < 1) | (df['seg_num'].isin(seg_nums_not_included))
    cond2 = ((df['diff_12_esales'] < 0) & (df['diff_12_nonesales'] < 0)) | ((df['diff_12_esales'] > 0) & (df['diff_12_nonesales'] > 0) & (df['diff_12_esales'] < df['diff_12_nonesales'])) 

    cond = [cond1, cond2]

    choices = ['Not Considered','No Channel Shift']

    return np.select(cond, choices, default='Channel Shift')

def channel_shift_9(df,tp_9_1,tp_9_2):
    tp1_e_total = f'{tp_9_1}_Total_esales'
    tp1_n_total = f'{tp_9_1}_Total_nonesales'
    seg_nums_not_included = [2,4,5,6,8,9]
    
    cond1 = (df[tp1_e_total] + df[tp1_n_total] < 1) | (df['seg_num'].isin(seg_nums_not_included))
    cond2 = ((df['diff_9_esales'] < 0) & (df['diff_9_nonesales'] < 0)) | ((df['diff_9_esales'] > 0) & (df['diff_9_nonesales'] > 0) & (df['diff_9_esales'] < df['diff_9_nonesales'])) 

    cond = [cond1, cond2]

    choices = ['Not Considered','No Channel Shift']

    return np.select(cond, choices, default='Channel Shift')

def compute_discount_12(df,tp_12_1):
    bucket_col = f'{tp_12_1}_bucket'
    comp_yoy_col = 'comp_bucket_YoY_12'

    conditions = [
        df[bucket_col].isin(['<0', '0'])
    ]
    
    choices = [
        0.0
    ]
    
    comp_doll = np.select(conditions, choices, default = df[comp_yoy_col] * df[f'{tp_12_1}_Total_nonesales'])
    return comp_doll

def compute_discount_9(df,tp_9_1):
    bucket_col = f'{tp_9_1}_bucket'
    comp_yoy_col = 'comp_bucket_YoY_9'

    conditions = [
        df[bucket_col].isin(['<0', '0'])
    ]
    
    choices = [
        0.0
    ]
    
    comp_doll = np.select(conditions, choices, default = df[comp_yoy_col] * df[f'{tp_9_1}_Total_nonesales'])
    return comp_doll

In [15]:
usag_df['diff_12_esales'] = usag_df[f'{tp_12_2}_Total_esales'] - usag_df[f'{tp_12_1}_Total_esales'] 
usag_df['diff_12_nonesales'] = usag_df[f'{tp_12_2}_Total_nonesales'] - usag_df[f'{tp_12_1}_Total_nonesales'] 

usag_df['diff_9_esales'] = usag_df[f'{tp_9_2}_Total_esales'] - usag_df[f'{tp_9_1}_Total_esales'] 
usag_df['diff_9_nonesales'] = usag_df[f'{tp_9_2}_Total_nonesales'] - usag_df[f'{tp_9_1}_Total_nonesales']

C:\Users\661827\AppData\Local\Temp\ipykernel_15140\203765608.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['diff_12_esales'] = usag_df[f'{tp_12_2}_Total_esales'] - usag_df[f'{tp_12_1}_Total_esales']
C:\Users\661827\AppData\Local\Temp\ipykernel_15140\203765608.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['diff_12_nonesales'] = usag_df[f'{tp_12_2}_Total_nonesales'] - usag_df[f'{tp_12_1}_Total_nonesales']
C:\Users\661827\AppData\Local\Temp\ipykernel_15140\203765608.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['diff_9_esales'] = usag_df[f'{tp_9_2}_Total_esales'] - usag_df[f'{tp_9_1}_Total_esales']
C:\Users\661827\AppData\Local\Temp\ipykernel_15140\203765608.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['diff_9_nonesales'] = usag_df[f'{tp_9_2}_Total_nonesales'] - usag_df[f'{tp_9_1}_Total_nonesales']

In [16]:
usag_df['seg_num'] = seg_num(usag_df,tp_12_1, tp_12_2, core_segments)

C:\Users\661827\AppData\Local\Temp\ipykernel_15140\3853203827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['seg_num'] = seg_num(usag_df,tp_12_1, tp_12_2, core_segments)

In [17]:
usag_df['Channel_Shift_Status_12'] = channel_shift_12(usag_df,tp_12_1, tp_12_2)

usag_df['Channel_Shift_Status_9'] = channel_shift_9(usag_df,tp_9_1, tp_9_2)

C:\Users\661827\AppData\Local\Temp\ipykernel_15140\2852971718.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['Channel_Shift_Status_12'] = channel_shift_12(usag_df,tp_12_1, tp_12_2)
C:\Users\661827\AppData\Local\Temp\ipykernel_15140\2852971718.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['Channel_Shift_Status_9'] = channel_shift_9(usag_df,tp_9_1, tp_9_2)

In [18]:
usag_df['nonesales_l12_12%'] = (usag_df[f'{tp_12_2}_Total_nonesales'] /( usag_df[f'{tp_12_2}_Total_esales'] + usag_df[f'{tp_12_2}_Total_nonesales'])).fillna(0)
usag_df['nonesales_l1324_12%'] = (usag_df[f'{tp_12_1}_Total_nonesales'] /( usag_df[f'{tp_12_1}_Total_esales'] + usag_df[f'{tp_12_1}_Total_nonesales'])).fillna(0)
usag_df['nonesales_tobe_12'] = ((usag_df[f'{tp_12_1}_Total_nonesales'] /( usag_df[f'{tp_12_1}_Total_esales'] + usag_df[f'{tp_12_1}_Total_nonesales'])) * ( usag_df[f'{tp_12_2}_Total_esales'] + usag_df[f'{tp_12_2}_Total_nonesales'])).fillna(0)


usag_df['nonesales_l12_9%'] = (usag_df[f'{tp_9_2}_Total_nonesales'] /( usag_df[f'{tp_9_2}_Total_esales'] + usag_df[f'{tp_9_2}_Total_nonesales'])).fillna(0)
usag_df['nonesales_l1324_9%'] = (usag_df[f'{tp_9_1}_Total_nonesales'] /( usag_df[f'{tp_9_1}_Total_esales'] + usag_df[f'{tp_9_1}_Total_nonesales'])).fillna(0)
usag_df['nonesales_tobe_9'] = ((usag_df[f'{tp_9_1}_Total_nonesales'] /( usag_df[f'{tp_9_1}_Total_esales'] + usag_df[f'{tp_9_1}_Total_nonesales'])) * ( usag_df[f'{tp_9_2}_Total_esales'] + usag_df[f'{tp_9_2}_Total_nonesales'])).fillna(0)

C:\Users\661827\AppData\Local\Temp\ipykernel_15140\3027167168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['nonesales_l12_12%'] = (usag_df[f'{tp_12_2}_Total_nonesales'] /( usag_df[f'{tp_12_2}_Total_esales'] + usag_df[f'{tp_12_2}_Total_nonesales'])).fillna(0)
C:\Users\661827\AppData\Local\Temp\ipykernel_15140\3027167168.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['nonesales_l1324_12%'] = (usag_df[f'{tp_12_1}_Total_nonesales'] /( usag_df[f'{tp_12_1}_Total_esales'] + usag_df[f'{tp_12_1}_Total_nonesales'])).fillna(0)
C:\Users\661827\AppData\Local\Temp\ipykernel_15140\3027167168.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['nonesales_tobe_12'] = ((usag_df[f'{tp_12_1}_Total_nonesales'] /( usag_df[f'{tp_12_1}_Total_esales'] + usag_df[f'{tp_12_1}_Total_nonesales'])) * ( usag_df[f'{tp_12_2}_Total_esales'] + usag_df[f'{tp_12_2}_Total_nonesales'])).fillna(0)
C:\Users\661827\AppData\Local\Temp\ipykernel_15140\3027167168.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['nonesales_l12_9%'] = (usag_df[f'{tp_9_2}_Total_nonesales'] /( usag_df[f'{tp_9_2}_Total_esales'] + usag_df[f'{tp_9_2}_Total_nonesales'])).fillna(0)
C:\Users\661827\AppData\Local\Temp\ipykernel_15140\3027167168.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['nonesales_l1324_9%'] = (usag_df[f'{tp_9_1}_Total_nonesales'] /( usag_df[f'{tp_9_1}_Total_esales'] + usag_df[f'{tp_9_1}_Total_nonesales'])).fillna(0)
C:\Users\661827\AppData\Local\Temp\ipykernel_15140\3027167168.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['nonesales_tobe_9'] = ((usag_df[f'{tp_9_1}_Total_nonesales'] /( usag_df[f'{tp_9_1}_Total_esales'] + usag_df[f'{tp_9_1}_Total_nonesales'])) * ( usag_df[f'{tp_9_2}_Total_esales'] + usag_df[f'{tp_9_2}_Total_nonesales'])).fillna(0)

In [19]:
usag_df['Channel_shift_tobe_12'] = np.select([(usag_df[f'{tp_12_1}_Total_esales'] + usag_df[f'{tp_12_1}_Total_nonesales'] < 1)],[0],default=(usag_df[f'{tp_12_2}_Total_nonesales'] - usag_df['nonesales_tobe_12']))

usag_df['Channel_shift_tobe_9'] = np.select([(usag_df[f'{tp_9_1}_Total_esales'] + usag_df[f'{tp_9_1}_Total_nonesales'] < 1)],[0],default=(usag_df[f'{tp_9_2}_Total_nonesales'] - usag_df['nonesales_tobe_9']))

C:\Users\661827\AppData\Local\Temp\ipykernel_15140\613682383.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['Channel_shift_tobe_12'] = np.select([(usag_df[f'{tp_12_1}_Total_esales'] + usag_df[f'{tp_12_1}_Total_nonesales'] < 1)],[0],default=(usag_df[f'{tp_12_2}_Total_nonesales'] - usag_df['nonesales_tobe_12']))
C:\Users\661827\AppData\Local\Temp\ipykernel_15140\613682383.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['Channel_shift_tobe_9'] = np.select([(usag_df[f'{tp_9_1}_Total_esales'] + usag_df[f'{tp_9_1}_Total_nonesales'] < 1)],[0],default=(usag_df[f'{tp_9_2}_Total_nonesales'] - usag_df['nonesales_tobe_9']))

In [20]:
usag_df['Channel_Shift_value_12'] = np.select([(usag_df['Channel_Shift_Status_12']=='Channel Shift')],[(usag_df['Channel_shift_tobe_12'])],default=0)

usag_df['Channel_Shift_value_9'] = np.select([(usag_df['Channel_Shift_Status_9']=='Channel Shift')],[(usag_df['Channel_shift_tobe_9'])],default=0)

C:\Users\661827\AppData\Local\Temp\ipykernel_15140\3083078752.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['Channel_Shift_value_12'] = np.select([(usag_df['Channel_Shift_Status_12']=='Channel Shift')],[(usag_df['Channel_shift_tobe_12'])],default=0)
C:\Users\661827\AppData\Local\Temp\ipykernel_15140\3083078752.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['Channel_Shift_value_9'] = np.select([(usag_df['Channel_Shift_Status_9']=='Channel Shift')],[(usag_df['Channel_shift_tobe_9'])],default=0)

In [21]:
usag_df['Channel_Shift_value_12'].sum()

np.float64(-8094111.258610986)

In [22]:
usag_df['Channel_Shift_value_9'].sum()

np.float64(-7879799.8768454855)

In [23]:
usag_df['Channel_Shift_Value_12-9'] = usag_df['Channel_Shift_value_12'] - usag_df['Channel_Shift_value_9']

C:\Users\661827\AppData\Local\Temp\ipykernel_15140\3375941977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['Channel_Shift_Value_12-9'] = usag_df['Channel_Shift_value_12'] - usag_df['Channel_Shift_value_9']

In [24]:
usag_df['Channel_Shift_Value_12-9'].sum()

np.float64(-214311.3817655042)

In [25]:
usag_df['Incremental_adjusted'] = usag_df['diff_nonesales_incremental_abs_updated'] - usag_df['Channel_Shift_Value_12-9']

C:\Users\661827\AppData\Local\Temp\ipykernel_15140\132517982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usag_df['Incremental_adjusted'] = usag_df['diff_nonesales_incremental_abs_updated'] - usag_df['Channel_Shift_Value_12-9']

In [26]:
usag_df['Incremental_adjusted'].sum()

np.float64(1366861.0278464002)

In [27]:
usag_df.groupby('flag_gl_id')['Incremental_adjusted'].sum()

flag_gl_id
0.00    2741645.38
1.00   -1374784.36
Name: Incremental_adjusted, dtype: float64

In [28]:
usag_df.groupby('flag_gl_id')['global_id'].count()

flag_gl_id
0.00    54909
1.00     6465
Name: global_id, dtype: int64

In [29]:
usag_df.groupby(f'{tp_12_1}_bucket')['Incremental_adjusted'].sum()

24_jun_12_bucket
0                   145.46
0-500           1402830.53
1000-2500       3267225.54
10000-25000      835379.64
2500-5000       3223828.56
25000+        -12675370.23
500-1000        1849494.80
5000-10000      3635357.01
<0              -172030.28
Name: Incremental_adjusted, dtype: float64

In [30]:
usag_df.groupby(f'{tp_12_1}_bucket')['global_id'].count()

24_jun_12_bucket
0                 23
0-500          12027
1000-2500       9278
10000-25000     8938
2500-5000       7685
25000+          7700
500-1000        6094
5000-10000      7747
<0              1882
Name: global_id, dtype: int64

In [31]:
# usag_df.groupby('flag_gl_id')['macs_id'].nunique()

In [32]:
cross_tab_view = pd.crosstab(usag_df[f'{tp_12_1}_{tp_12_2}_act_mon_esales_sd_1_segment'],usag_df[f'{tp_12_1}_{tp_12_2}_act_mon_nonesales_sd_1_segment'],
            values=usag_df['Channel_Shift_Value_12-9'],aggfunc='sum')
cross_tab_view = cross_tab_view.reindex(index=core_segments,columns=core_segments)
cross_tab_view

24_jun_12_25_jun_12_act_mon_nonesales_sd_1_segment,Growing,Stable,Declining
24_jun_12_25_jun_12_act_mon_esales_sd_1_segment,,,
Growing,1724572.94,0.00,-4736606.98
Stable,0.00,NaN,0.00
Declining,2797722.66,0.00,0.00

In [33]:
cross_tab_view2 = pd.crosstab(usag_df[f'{tp_12_1}_{tp_12_2}_act_mon_esales_sd_1_segment'],usag_df[f'{tp_12_1}_{tp_12_2}_act_mon_nonesales_sd_1_segment'],
            values=usag_df['diff_nonesales_incremental_abs_updated'],aggfunc='sum')
cross_tab_view2 = cross_tab_view2.reindex(index=core_segments,columns=core_segments)
cross_tab_view2

24_jun_12_25_jun_12_act_mon_nonesales_sd_1_segment,Growing,Stable,Declining
24_jun_12_25_jun_12_act_mon_esales_sd_1_segment,,,
Growing,12682886.63,-6030706.28,-5647575.80
Stable,22273801.86,NaN,-9380985.61
Declining,6457228.85,-7765159.72,-11436940.29

In [34]:
usag_df.to_parquet(f'Outputs/{tp_12_2} ISO COS Channel Shift Discount.parquet')

In [35]:
# cross_tab_view.to_excel(f'Outputs/{tp_12_2} ISO COS Channel Shift crosstab view.xlsx')

In [36]:
usag_df.groupby([f'{tp_12_1}_bucket','flag_gl_id'])['Incremental_adjusted'].sum().reset_index().to_excel('Inc_bucketwise.xlsx')

In [37]:
usag_df.groupby([f'{tp_12_1}_bucket','flag_gl_id'])['Incremental_adjusted'].sum().reset_index()

   24_jun_12_bucket  flag_gl_id  Incremental_adjusted
0                 0        0.00                 36.27
1                 0        1.00                109.19
2             0-500        0.00            1266583.25
3             0-500        1.00             136247.28
4         1000-2500        0.00            3023093.33
5         1000-2500        1.00             244132.21
6       10000-25000        0.00            1172771.49
7       10000-25000        1.00            -337391.85
8         2500-5000        0.00            2981772.77
9         2500-5000        1.00             242055.79
10           25000+        0.00          -10533478.71
11           25000+        1.00           -2141891.52
12         500-1000        0.00            1668995.18
13         500-1000        1.00             180499.62
14       5000-10000        0.00            3315134.04
15       5000-10000        1.00             320222.96
16               <0        0.00            -153262.24
17               <0        1.00             -18768.04

In [38]:
# bucket_bins = [-np.inf,0,0.001,500,1000,2500, 5000, 10000, 25000, np.inf]
# buckets = ['<0','0','0-500','500-1000','1000-2500','2500-5000', '5000-10000', '10000-25000', '25000+']

# usag_df[f'{tp_12_1}_bucket'] = pd.cut(usag_df[f'{tp_12_1}_Total_esales'], bins=bucket_bins, labels=buckets, right=False)
# usag_df[f'{tp_9_1}_bucket'] = pd.cut(usag_df[f'{tp_9_1}_Total_esales'], bins=bucket_bins, labels=buckets, right=False)

In [39]:
# esales_buckets_12 = usag_df.groupby(f'{tp_12_1}_bucket')[[f'{tp_12_1}_Total_esales',f'{tp_12_2}_Total_esales']].sum().reset_index()
# esales_buckets_12['comp_bucket_YoY_12'] = (esales_buckets_12[f'{tp_12_2}_Total_esales']/esales_buckets_12[f'{tp_12_1}_Total_esales'])-1
# esales_buckets_12 = esales_buckets_12[[f'{tp_12_1}_bucket','comp_bucket_YoY_12']]
# usag_df = usag_df.merge(esales_buckets_12,how='left',on=f'{tp_12_1}_bucket')
# esales_buckets_12

In [40]:
# esales_buckets_9 = usag_df.groupby(f'{tp_9_1}_bucket')[[f'{tp_9_1}_Total_esales',f'{tp_9_2}_Total_esales']].sum().reset_index()
# esales_buckets_9['comp_bucket_YoY_9'] = (esales_buckets_9[f'{tp_9_2}_Total_esales']/esales_buckets_9[f'{tp_9_1}_Total_esales'])-1
# esales_buckets_9 = esales_buckets_9[[f'{tp_9_1}_bucket','comp_bucket_YoY_9']]
# usag_df = usag_df.merge(esales_buckets_9,how='left',on=f'{tp_9_1}_bucket')
# esales_buckets_9

In [41]:
# usag_df['comp_bucket_doll_12'] = compute_discount_12(usag_df,tp_12_1)

# usag_df['comp_bucket_doll_9'] = compute_discount_9(usag_df,tp_9_1)

In [42]:
# usag_df['adj_tobe_12'] = usag_df['Channel_shift_tobe_12'] - usag_df['comp_bucket_doll_12']

# usag_df['adj_tobe_9'] = usag_df['Channel_shift_tobe_9'] - usag_df['comp_bucket_doll_9']

In [43]:
# usag_df['adj_doll_12'] = np.select([(usag_df['Channel_Shift_Status_12']=='Channel Shift')],[(usag_df['adj_tobe_12'])],default=0)

# usag_df['adj_doll_9'] = np.select([(usag_df['Channel_Shift_Status_9']=='Channel Shift')],[(usag_df['adj_tobe_9'])],default=0)

In [44]:
# usag_df['adj_doll_12'].sum() - usag_df['adj_doll_9'].sum()

In [45]:
# usag_df['adj_doll_9'].sum()

In [46]:
# usag_df.to_excel(f'Outputs/{tp_12_2}Channel Shift Discount.xlsx')